<!-- Sidebar -->
<div class="w-1/4 bg-red-900 text-white flex flex-col justify-between p-6">
    <div>
        <h1 class="text-2xl font-bold mb-4">Student</h1>
        <p class="text-sm mb-8">Manuel S. Enverga University Foundation Candelaria Inc.</p>
        <button class="flex items-center space-x-2 mb-4">
        <span>Medical Report</span>
        </button>
    </div>
    <div class="flex flex-col space-y-4">
        <a href="#" class="text-sm hover:underline">Help</a>
        <a href="#" class="text-sm hover:underline">Contact us</a>
        <a href="{% url 'users:user_logout' %}" class="text-sm hover:underline flex items-center space-x-2">
            <span>Log out</span>
        </a>
    </div>
</div>

<!-- Sidebar other variaton -->
<!-- <div class="bg-red-800 text-white w-1/5 min-h-screen p-4 flex flex-col">
    <h1 class="text-2xl font-semibold mb-6">Medical Report</h1>
    <ul>
      <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Dashboard</a></li>
      <li class="mb-2"><a href="#" class="text-gray-300 hover:text-white">Contact Us</a></li>
      <li><a href="#" class="text-gray-300 hover:text-white">Help</a></li>
    </ul>
    <a href="#" class="mt-auto text-gray-300 hover:text-white">Log out</a>
</div> -->