<!-- Sidebar -->
<div class="w-1/4 bg-red-900 text-white flex flex-col justify-between p-6">
  <div>
      <h1 class="text-2xl font-bold mb-4">Dashboard</h1>
      <!-- <p class="text-sm mb-8">Manuel S. Enverga University Foundation Candelaria Inc.</p> -->
      <ul>
        <li class="mb-2"><a href="{% url 'users:admin_dashboard' %}" class="text-gray-300 hover:text-white flex items-center"><span>Student Record</span></a></li>
        <li class="mb-2"><a href="{% url 'users:admin_inventory' %}" class="text-gray-300 hover:text-white flex items-center"><span>Inventory</span></a></li>
        <li class="mb-2"><a href="{% url 'users:admin_student_log_visit' %}" class="text-gray-300 hover:text-white flex items-center"><span>Student Log Visit</span></a></li>
      </ul>
  </div>
  <div class="mt-auto">
    <a href="#" class="block text-gray-300 hover:text-white mb-2">Help</a>
    <a href="#" class="block text-gray-300 hover:text-white mb-2">Contact us</a>
    <a href="{% url 'users:user_logout' %}" class="block text-gray-300 hover:text-white">Log out</a>
  </div>
</div>